<% if (user.isAdmin) { %>
    <%- include("adminheader") -%>
<% } else { %> 
    <%- include("homeheader") -%>
<% } %>

<section style="min-height: 34rem;" class="testimonials2 studiom4_testimonials2 vertical-line cid-sq4XL8SNzK" id="testimonials2-j">
	<div class="container">
		<div class="row">
			<div class="title col-12 align-center">
				<h3 class="mbr-section-subtitle mbr-bold mbr-fonts-style display-7">BANNED</h3>
				<h2 class="mbr-bold mbr-fonts-style mbr-section-title mbr-white display-2">User is currently banned.</h2>
                <% if (user.isAdmin === true) { %>
                    <div class="mbr-section-btn align-center"><a class="btn btn-danger display-7" style="margin-right: 0;" href="/unban/username/<%= banned.username %>">Unban</a></div>
                <% } %>
			</div>
		</div>
	</div>
</section>

<%- include("footer") -%>