<%- include("header") -%>
    <div class="container-fluid container-full bg-dark text-white">
        <div class="hero-section">
            <div class="hero-half">
                <h1 class="display-1"><strong>Get Started</strong></h1>
                <p class="lead sub-heading">
                    Join our community of ambitious hobbyists now and meet new people who are just as passionate about your interests as you are! 
                    Customize your profile with all of your interests and hobbies and be instantly matched up with like-minded people who are into the same things you are.
                </p>
                <a href="/register" class="btn btn-light btn-lg hero-btn">Sign Up</a>
                <a href="/login" class="btn btn-outline-light btn-lg hero-btn">Login</a>        
            </div>
            <img class="hero-img" src="/img/home.jpg" alt="" srcset="">
        </div>
        
    </div>
<%- include("footer") -%>