<%- include("header") -%>
<br>
<br>
<br>
<br>
<script></script>
<h1>Enter your post, <%= username%> !</h1>

<form action="/makePost" method="POST">
    <div class="form-group">
      <input type="hidden" name="username" id="username" class="form-control" value = "<%= username%>">
      <input type="text" name="postContent" class="form-control" placeholder="Your Post Here">
    </div>
    <button type="submit" class="btn btn-block login-btn" >Submit</button>
  </form>

  <%- include("footer") -%>