<%- include("homeheader") -%>

<section class="testimonials2 studiom4_testimonials2 vertical-line cid-sq4XL8SNzK" id="testimonials2-j" style="min-height: 91vh;">

	<div class="container">
		<div class="row">
            <div class="card col-12">
                <form class="card-inner" style="padding-bottom: 2.3rem;" action="/makeAnnouncement" method="POST">
                    <input type="hidden" name="username" id="username" value = "<%= user.username %>">
                    <textarea required="required" name="postContent" class="mbr-text align-left mbr-fonts-style display-7" placeholder="Your Announcement Here" style="width: 100%; background-color: transparent;"></textarea>
                    <textarea required="required" name="interest" class="mbr-text align-left mbr-fonts-style display-7" placeholder="Topic" style="width: 100%; background-color: transparent;"></textarea>
                    <div class="mbr-section-btn align-right"><button type="submit" style="padding: 15px 30px;" class="btn btn-danger display-7">Make Announcement</button></div>
                </form>
            </div>
		</div>
	</div>
</section>

<%- include("footer") -%>