<%- include("header") -%>
<section class="form header3 studiom4_header3 cid-sq4RFbsx3N" style="min-height: 91vh;" id="header3-9">
    <div class="mbr-overlay"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-7 m-auto">
                <div class="title">
                    <h2 class="mbr-section-title mbr-regular align-left mbr-fonts-style mbr-white display-2">We Help you meet people<br>who share your Interests</h2>
                    <p class="mbr-section-subtitle align-left mbr-fonts-style mbr-white block-left display-7">Already have an account? Log in now to start meeting people who are just as passionate<br>about your hobbies as you are!</p>
                    <div class="mbr-section-btn align-left"><a class="btn btn-danger display-7" href="/login">Log Into Your Account Here</a></div>
                </div>
            </div>

            <div class="col-lg-5 my-auto pb-4 mbr-form" data-form-type="formoid">
                <form action="/register" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                    <div class="form-row">
                        <% if (registerFail.length > 0) { %>
                            <div data-form-alert-danger="" class="alert alert-danger col-12">
                                <% for (var i = 0; i < registerFail.length; i++) { %>
                                    <%= registerFail[i] %> <br>
                                <% } %>
                            </div>
                        <% } %>
                    </div>
                    <div class="dragArea form-row">
                        <div class="col-lg-12 align-center">
                            <h5 class="mbr-fonts-style mbr-black display-5">Register Now</h5>
                            <p class="mbr-section-subtitle mbr-section-subtitle align-center mbr-fonts-style text-form display-7">
                                Register to use our site!</p>
                        </div>
                        <div class="col-lg-12 form-group" data-for="Full Name">
                            <input type="text" name="username" placeholder="Username" data-form-field="Username" required="required" class="form-control display-7" id="username">
                        </div>
                        <div data-for="Email" class="col-lg-12 form-group">
                            <input type="email" name="email" placeholder="Email" data-form-field="Email" class="form-control display-7" required="required" id="email">
                        </div>
                        <div data-for="Password" class="col-lg-12 form-group">
                            <input type="password" name="password" placeholder="Password" data-form-field="Password" class="form-control display-7" required="required" id="password">
                        </div>
                        <div class="col-auto form-btn"><button type="submit" class="btn btn-danger link-btn display-7">SIGN UP</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<%- include("footer") -%>